/* Font All Page */ 
.admin-page * {
    font-family: 'Roboto', sans-serif !important;
  }

.create-button {
    position: relative;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #4a6b9a;
    background-color: #133e87;
}

.create-button2 {
  position: relative;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #0e9c0e;
  background-color: #388E3C;
}


.create-button .create-button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }

  /* From Uiverse.io by vinodjangid07 */ 
.editButton {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  border: none;
  background-color: rgb(93, 93, 116);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.123);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.editButton::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: rgb(102, 102, 141);
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  border-radius: 50%;
  filter: blur(10px);
}
.editButton:hover::before {
  transform: scale(1);
}
.editButton:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.336);
}

.editButton svg {
  height: 17px;
  fill: white;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}
.editButton:hover svg {
  transform: rotate(-15deg) translateX(5px);
}
.editButton::after {
  content: "";
  width: 25px;
  height: 1.5px;
  position: absolute;
  bottom: 19px;
  left: -5px;
  background-color: white;
  border-radius: 2px;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}
.editButton:hover::after {
  transform: scaleX(1);
  left: 0px;
  transform-origin: right;
}

.deleteButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

.deleteButton .svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.deleteButton .svgIcon path {
  fill: white;
}

.deleteButton:hover {
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
  gap: 0;
}

.deleteButton .bin-top {
  transform-origin: bottom right;
}

.deleteButton:hover .bin-top {
  transition-duration: 0.5s;
  transform: rotate(160deg);
}


