
.card-review-info {
  --main-color: #000;
  --submain-color: #78858F;
  --bg-color: #fff;
  --edit-color: #133e87;
  position: relative;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
}

.card__img-review-info {
  height: 150px;
  width: 100%;
}

.card__img-review-info svg {
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.card__avatar-review-info {
  position: absolute;
  width: 114px;
  height: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(25% - 30px);
}

.card__avatar-review-info svg {
  width: 100px;
  height: 100px;
}

.card__title-review-info {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle-review-info {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn-review-info {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid-review-info {
  background: var(--main-color);
  color: var(--bg-color);
}

/* .card__btn-review-info:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid-review-info:hover {
  background: var(--bg-color);
  color: var(--main-color);
} */

.card__btn-review-info-e {
  margin-top: 15px;
  width: 152px;
  height: 31px;
  border: 2px solid var(--edit-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--edit-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-review-info-e:hover {
  background: var(--edit-color);
  color: var(--bg-color);
}